* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a,
p,
ul,
li,
span {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}

.banner-area {
  background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 10px;
}
.content-wrapper .banner-content {
  flex: 40%;
}
.content-wrapper .banner-content h1 {
  font-size: 3.7rem;
}
.content-wrapper .banner-content p {
  color: #777;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px;
}
.content-wrapper .banner-content a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
}
.content-wrapper .banner-content .addToCart {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: auto;
  margin-top: 25px;
  margin-right: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border-radius: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.content-wrapper .banner-img {
  flex: 60%;
}
.content-wrapper .banner-img img {
  display: block;
  width: 100%;
  margin: auto;
}

nav {
  width: 1240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 15px 35px;
  border-radius: 5px;
}

.nav-list li {
  color: #fff;
  display: inline-block;
  text-align: center;
}
.nav-list li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #222;
  margin: 0px 15px;
  transition: all ease-out 0.2s;
}
.nav-list li a:hover {
  color: #ffba00;
  font-size: 16px;
}

#feature-area {
  margin: 80px 0px;
}
#feature-area .container .feature-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px 0px;
}
#feature-area .container .feature-wrapper .single-feature {
  border-right: 1px solid #eee;
}
#feature-area .container .feature-wrapper .single-feature:hover .feature-icon {
  color: #777;
}
#feature-area .container .feature-wrapper .single-feature:last-child {
  border-right: 0px;
}
#feature-area .container .feature-wrapper .feature-icon {
  display: block;
  font-size: 1.9rem;
  color: #222;
  margin-bottom: 15px;
  transition: 0.5s;
}
#feature-area .container .feature-wrapper .feature-title {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}
#feature-area .container .feature-wrapper .feature-sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#category-area .category-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  padding: 30px 0px;
}
#category-area .category-wrapper .category {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
#category-area .category-wrapper .category .category-card {
  position: relative;
}
#category-area .category-wrapper .category .category-card .category-img {
  position: relative;
  max-width: 100%;
  height: 100%;
}
#category-area .category-wrapper .category .category-card .overlay {
  position: absolute;
  color: #fff;
  top: 100%;
  margin: auto;
  width: 100%;
  text-align: center;
  visibility: hidden;
  transition: ease-out 0.3s;
  z-index: 11;
}
#category-area .category-wrapper .category .category-card:hover .overlay {
  top: 50%;
  visibility: visible;
}
#category-area .category-wrapper .category .category-card::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}
#category-area .category-wrapper .category .category-card:hover::before {
  opacity: 0.5;
}
#category-area .category-wrapper .category-sale {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
#category-area .category-wrapper .category-sale .category-sale-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#category-area .category-wrapper .category-sale .overlay {
  position: absolute;
  color: #fff;
  top: 100%;
  margin: auto;
  width: 100%;
  text-align: center;
  visibility: hidden;
  transition: ease-out 0.3s;
  z-index: 11;
}
#category-area .category-wrapper .category-sale:hover .overlay {
  top: 50%;
  visibility: visible;
}
#category-area .category-wrapper .category-sale::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}
#category-area .category-wrapper .category-sale:hover::before {
  opacity: 0.5;
}

.latest-products {
  padding: 50px 0px;
  background-color: rgba(246, 246, 246, 0.6392156863);
}
.latest-products .section-title {
  text-align: center;
  color: #222;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 15px 0px;
}
.latest-products .section-sub-title {
  text-align: center;
  color: #828BB2;
  width: 45%;
  margin: auto;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.latest-products .latest-product-btn {
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border: none;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 70px;
  margin: auto;
  display: flex;
  transition: 0.3s;
}
.latest-products .single-product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 30px 0px;
  row-gap: 40px;
}
.latest-products .single-product-wrapper .single-product img {
  display: block;
  width: 100%;
  margin: auto;
}
.latest-products .single-product-wrapper .single-product .product-title {
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0px;
  line-height: 1.5;
  color: #222;
  font-family: "Poppins", sans-serif;
}
.latest-products .single-product-wrapper .single-product .product-price {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 14px;
  font-weight: 600;
}
.latest-products .single-product-wrapper .single-product .product-price :last-child {
  color: #777;
}
.latest-products .single-product-wrapper .single-product .product-icons {
  display: flex;
  align-items: center;
  column-gap: 25px;
  column-gap: 10px;
  margin: 15px 0px;
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon {
  position: relative;
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon:hover span {
  margin-right: 80px;
  cursor: pointer;
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon span {
  font-size: 14px;
  background: #828BB2;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  z-index: -1;
  transition: all 0.3s;
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon:hover span {
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon .hover-text {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  top: 8px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.latest-products .single-product-wrapper .single-product .product-icons .single-icon:hover .hover-text {
  left: 20px;
  opacity: 1;
  visibility: visible;
  z-index: 11;
}

@media only screen and (min-width: 320px) and (max-width: 668px) {
  .container {
    width: 100%;
    padding: 0px 15px;
  }
  nav {
    display: none;
  }
  .banner-area {
    width: 100%;
    background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
  }
  .content-wrapper {
    width: 100%;
    display: block;
  }
  .content-wrapper .banner-content h1 {
    font-size: 2.3rem;
  }
  .content-wrapper .banner-content p {
    font-size: 14px;
  }
  .content-wrapper .banner-img img {
    display: none;
  }
  #feature-area {
    margin: 40px 0px;
  }
  #feature-area .container {
    width: 100%;
  }
  #feature-area .container .feature-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    box-shadow: none;
    padding: 25px;
  }
  #feature-area .container .feature-wrapper .single-feature {
    border-right: 0px;
  }
  #category-area.container {
    width: 100%;
  }
  #category-area .category-wrapper {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
  }
  #category-area .category-wrapper .category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #category-area .category-wrapper .category .category-img {
    display: block;
    width: 100%;
    margin: auto;
  }
  #category-area .category-wrapper .category-sale {
    margin-top: 20px;
  }
  #category-area .category-wrapper .category-sale .category-sale-img {
    display: block;
  }
  .latest-products .section-sub-title {
    width: 90%;
  }
  .latest-products .single-product-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
