@mixin container {
    width: 1140px;
    margin: 0 auto;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin displayFlex {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

@mixin flexAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

@mixin displayGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

@mixin displayGridResponsive {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@mixin imgWidth {
    display: block;
    width: 100%;
    margin: auto;
}