@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin imgWidth {
    display: block;
    width: 100%;
    height: auto;
}