@mixin container {
    width: 1140px;
    margin: 0 auto;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

@mixin imgWidth {
    display: block;
    width: 100%;
    height: auto;
}