$primary-color: #828BB2;
$color-white: #fff;
$secondary-text: #777;
$accent-text: #ffba00;
$black-text: #222;
$background-color: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
$line-height: 1.5;
$text-transform: uppercase;
$font-weights: (
    "thin": 300,
    "regular":400,
    "normal":500,
    "bold":600,
    "extra-bold":700,
);
$font-sizes: (
    "extra-small":13px,
    "small":15px,
    "semi-title":1.9rem,
    "title":2.3rem,
    "section-title":3.7rem,
);
$margin-top: (
    "mt10":10px,
    "mt15":15px,
    "mt20":20px,
    "mt25":25px,
    "mt30":30px,
    )