#footer-area-section {
    background: $black-text;
    padding: padding(p-100);

    & .footer-wrapper {
        @include displayGrid();
        column-gap: 20px;
        align-items: baseline;

        h3 {
            color: $color-white;
            margin-bottom: marginBottom(mb20);
        }

        p {
            color: $secondary-text;
            font-size: sizes(extra-small);
            line-height: $line-height;
        }

        & .about-us {
            flex-basis: 25%;
        }

        & .newsletter {
            flex-basis: 25%;

            p {
                margin-bottom: marginBottom(mb10);
            }

            .newsletter-sub {
                display: flex;
                align-items: center;
            }

            & .subscribe-input {
                padding: 10px 30px 10px 5px;
                color: $secondary-text;
                border: none;
            }

            span {
                color: $color-white;
                background: $background-color;
                padding: 8px;
                border-left: none;
            }
        }

        & .instagram-feed {
            flex-basis: 25%;

            & .instagram-feed-grid {
                @include displayGrid();
                gap: 8px;
            }
        }

        & .follow-us-icons {
            flex-basis: 25%;

            & ul li {
                display: inline-block;
                margin-right: 10px;
                margin-top: 10px;

                & a {
                    display: block;
                    color: #fff;
                    transition: ease-in-out 0.5s;

                    & :hover {
                        color: $accent-text;
                    }
                }
            }
        }
    }
}