.banner-area {
    background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.content-wrapper {
    @include container();
    @include flexAround();
    padding: 50px 10px;

    .banner-content {
        flex: 40%;

        & h1 {
            font-size: sizes(section-title);
        }

        & p {
            color: $secondary-text;
            font-size: sizes(small);
            line-height: $line-height;
            margin-top: marginTop(mt25);
        }
    }

    .banner-img {
        flex: 60%;

        & img {
            @include imgWidth();
        }
    }
}