#latest-products {
    background-color: #f6f6f6a3;

    & .single-product-wrapper {
        @include displayGrid();
        padding: padding(p-30);
        gap: 30px;

        & .single-product {
            & img {
                @include imgWidth()
            }

            & .product-title {
                font-weight: weights(normal);
                text-transform: $text-transform;
                padding: padding(p-10);
                line-height: $line-height;
                color: $black-text;
                font-family: 'Poppins', sans-serif;
            }

            & .product-price {
                @include displayFlex();
                font-size: sizes(extra-small);
                font-weight: weights(bold);

                & :last-child {
                    color: $secondary-text;
                }
            }

            & .product-icons {
                position: relative;
                @include displayFlex();
                column-gap: 10px;
                margin: margin(m-15);

                & .single-icon:hover span {
                    margin-right: 80px;
                }

                & .single-icon span {
                    font-size: sizes(extra-small);
                    background: $primary-color;
                    color: $color-white;
                    border-radius: 50%;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: $text-center;
                    line-height: 30px;
                    z-index: -1;
                    transition: all 0.3s;
                }

                & .single-icon span:hover {
                    background: $background-color;
                    cursor: pointer;
                }

                & .single-icon .hover-text {
                    position: absolute;
                    font-size: 12px;
                    font-weight: weights(bold);
                    color: $black-text;
                    text-transform: $text-transform;
                    width: 100px;
                    text-align: center;
                    top: 8px;
                    left: 0px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s;

                }

                & .single-icon:hover .hover-text {
                    left: 20px;
                    opacity: 1;
                    visibility: visible;
                    z-index: 11;
                    
                }
            }
        }
    }

    & .section-title {
        text-align: $text-center;
        color: $black-text;
        font-size: sizes(title);
        font-weight: weights(normal);
        padding: padding(p-15);
    }

    & .section-sub-title {
        text-align: $text-center;
        color: $primary-color;
        width: 100%-55%;
        margin: auto;
        font-size: sizes(extra-small);
        line-height: $line-height;
        margin-bottom: marginBottom(mb30);
    }
}