nav {
    width: 1240px;
    margin: auto;
    @include flexAround();
    justify-content: space-between;
    background-color: $color-white;
    box-shadow: $box-shadow;
    margin-top: marginTop(mt30);
    padding: 15px 35px;
    border-radius: 5px;
}

.nav-list li {
    color: $color-white;
    display: inline-block;
    text-align: $text-center;

    a {
        display: block;
        font-size: sizes(extra-small);
        text-transform: $text-transform;
        font-weight: weights(normal);
        color: $black-text;
        margin: 0px 15px;
        transition: all ease-out 0.2s;

        &:hover {
            color: $accent-text;
            font-size: sizes(small);
        }
    }
}