#related-product-area {
    & .related-product-title {
        text-align: $text-center;
        margin-bottom: marginBottom(mb30);

        & h1 {
            font-size: sizes(title);
            font-weight: weights(normal);
            margin-bottom: marginBottom(mb10);
        }

        & p {
            width: 50%;
            margin: auto;
            font-size: sizes(extra-small);
            color: $primary-color;
            line-height: $line-height;
            margin-bottom: marginBottom(mb30);
        }
    }

    & .related-product-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: padding(p-40);

        & .related-products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;


            & .single-related-product {
                display: flex;
                column-gap: 15px;
                align-items: center;
                margin-bottom: marginBottom(mb30);
                padding: 10px;
                transition: ease-in-out 0.2s all;

                &:hover {
                    box-shadow: $box-shadow;
                    cursor: pointer;
                    transform: scale(1.05);
                    border-radius: 5px;
                }

                & .related-product-name {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    &:hover h4 {
                        color: $accent-text;
                    }

                    & h4 {
                        color: $black-text;
                        font-weight: weights(thin);
                        text-transform: $text-transform;
                        font-size: sizes(extra-small);
                    }

                    & .product-price {
                        display: flex;
                        column-gap: 10px;
                        justify-content: flex-start;
                        font-size: sizes(extra-small);
                        font-weight: weights(normal);

                        & :last-child {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        & .related-products-img {
            flex: 0 0 25%;

            & img {
                @include imgWidth
            }

        }
    }
}