// SMALL DEVICES RESPONSIVE
@media only screen and (min-width: 320px) and (max-width: 576px) {
    .container {
        width: 100%;
    }

    nav {
        display: none;
    }

    // HEADER SECTION
    .banner-area {
        width: 100%;
        background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center;
        background-size: cover;
        height: 500px;
    }

    .content-wrapper {
        width: 100%;
        display: block;

        & .banner-content {
            & h1 {
                font-size: sizes(title);
            }

            & p {
                font-size: sizes(extra-small);
            }
        }

        & .banner-img img {
            display: none;
        }

    }

    // FEATURE SECTION
    #feature-area {
        margin: 40px 0px;

        & .container {
            width: 100%;

            & .feature-wrapper {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 25px;
                box-shadow: none;
                padding: 25px;

                & .single-feature {
                    border-right: 0px;
                }
            }
        }
    }

    // CATEGORY SECTION 
    #category-area {
        &.container {
            width: 100%;
        }

        & .category-wrapper {
            margin: 0px;
            padding: 0px;
            flex-direction: column;

            & .category {
                flex-direction: column;

                & .category-img {
                    display: block;
                    height: auto;
                }
            }
            & .category-sale{
                & .category-sale-img{
                    display: block;
                }
            }
        }
    }
}