// SMALL DEVICES RESPONSIVE
@media only screen and (min-width: 320px) and (max-width: 668px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }

    nav {
        display: none;
    }

    // HEADER SECTION
    .banner-area {
        width: 100%;
        background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center;
        background-size: cover;
        height: 500px;
    }

    .content-wrapper {
        width: 100%;
        display: block;
        padding: 0px 15px;

        & .banner-content {
            & h1 {
                font-size: sizes(title);
            }

            & p {
                font-size: sizes(extra-small);
            }
        }

        & .banner-img img {
            display: none;
        }

    }

    // FEATURE SECTION
    #feature-area {
        margin: 40px 0px;

        & .container {
            width: 100%;

            & .feature-wrapper {
                @include displayGridResponsive();
                row-gap: 25px;
                box-shadow: none;
                padding: 25px;

                & .single-feature {
                    border-right: 0px;
                }
            }
        }
    }

    // CATEGORY SECTION 
    #category-area {
        &.container {
            width: 100%;
        }

        & .category-wrapper {
            margin: 0px;
            padding: 0px;
            flex-direction: column;

            & .category {
            @include displayGridResponsive();

                & .category-img {
                   @include imgWidth();
                }
            }

            & .category-sale {
                margin-top: 20px;
                & .category-sale-img {
                    display: block;
                }
            }
        }
    }

    #latest-products {
        & .section-sub-title{
            width: 90%;
        }
        & .single-product-wrapper {
            @include displayGridResponsive();
            row-gap: 20px;
        }
    }
}