a,
p,
ul,
li,
span {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

$font-weights: (
    "thin": 300,
    "regular":400,
    "normal":500,
    "bold":600,
);
$font-sizes: (
    "small":14px,
    "semi-title":1.9rem,
    "title":2.3rem,
    "section-title":3.7rem,
);